body {
    background-color: lightcyan;
}
h1 {
    color: blue;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
p1 {color: darkgreen;
    text-align: center;
}
p2 {color: ;
    font-size: 30px;
}
p3 {color: white;
    text-align: center;
}
p4 {color: darkblue;
    font-size: 18px;
}
p5 {color: white;
    text-align: center;
}
p6 {color: darkblue;
    font-size: 20px;
}
p7{color: darkblue;
    text-align: center;
}
p8 {color: white;
    text-align: center;
}
